// ==============================
// Variables
// ==============================

@font-face {
  font-family: Emoji;
  src: local("Apple Color Emoji"), local("Segoe UI Emoji"), local("Segoe UI Symbol"), local("Noto Color Emoji");
  unicode-range: U+1F000-1F644, U+203C-3299;
}

// ========== Global ========== //
// Font and Line Height
$global-font-family: system-ui, -apple-system, Segoe UI, Roboto, Emoji, Helvetica, Arial, sans-serif !default;
$global-font-size: 16px !default;
$global-font-weight: 400 !default;
$global-line-height: 1.5rem !default;

// Color of the background
$global-background-color: #fff !default;
$global-background-color-dark: #292a2d !default;

// Color of the text
$global-font-color: #161209 !default;
$global-font-color-dark: #a9a9b3 !default;

// Color of the secondary text
$global-font-secondary-color: #5e5e5e !default;
$global-font-secondary-color-dark: #8e8e92 !default;

// Color of the link
$global-link-color: #800085 !default;
$global-link-color-dark: #a9a9b3 !default;

// Color of the hover link
$global-link-hover-color: #ab60b0 !default;
$global-link-hover-color-dark: #962896 !default;

// Color of the border
$global-border-color: #f0f0f0 !default;
$global-border-color-dark: #363636 !default;
// ========== Global ========== //

// ========== Scrollbar ========== //
// Color of the scrollbar
$scrollbar-color: #87878d !default;

// Color of the hover scrollbar
$scrollbar-hover-color: #a9a9b3 !default;
// ========== Scrollbar ========== //

// ========== Selection ========== //
// Color of the selected text
$selection-color: rgba(53, 166, 247, 0.25) !default;
$selection-color-dark: rgba(50, 112, 194, 0.4) !default;
// ========== Selection ========== //

// ========== Header ========== //
// Height of the header
$header-height: 3.5rem !default;

// Font family and size of the header title
$header-title-font-family: $global-font-family !default;
$header-title-font-size: 1.5rem !default;

// Color of the header background
$header-background-color: #f8f8f8 !default;
$header-background-color-dark: #252627 !default;

// Color of the hover header item
$header-hover-color: #161209 !default;
$header-hover-color-dark: #fff !default;

// Color of the search background
$search-background-color: #e9e9e9 !default;
$search-background-color-dark: #363636 !default;
// ========== Header ========== //

// ========== Single Content ========== //
// Font size of the TOC
$toc-title-font-size: 1.2rem !default;
$toc-content-font-size: 1rem !default;

// Color of the single link
$single-link-color: #800085 !default;
$single-link-color-dark: #962896 !default;

// Color of the hover single link
$single-link-hover-color: #ab60b0 !default;
$single-link-hover-color-dark: #ee8bee !default;

// Color of the table background
$table-background-color: #fff !default;
$table-background-color-dark: #272c34 !default;

// Color of the table thead
$table-thead-color: #ededed !default;
$table-thead-color-dark: #20252b !default;

// Color of the blockquote
$blockquote-color: #6bd6fd !default;
$blockquote-color-dark: #59c5ec !default;
// ========== Single Content ========== //

// ========== Pagination ========== //
// Color of the link in pagination
$pagination-link-color: #2d96bd !default;
$pagination-link-color-dark: #a9a9b3 !default;

// Color of the hover link in pagination
$pagination-link-hover-color: #000 !default;
$pagination-link-hover-color-dark: #fff !default;
// ========== Pagination ========== //

// ========== Code ========== //
// Font family and size of the code
$code-font-family: "Source Code Pro", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$code-font-size: .875rem !default;

// Color of the code
$code-color: #E74C3C !default;
$code-color-dark: #E5BF78 !default;

// Color of the code background
$code-background-color: #f5f5f5 !default;
$code-background-color-dark: #272C34 !default;

$code-info-color: #9c9c9c !default;
$code-info-color-dark: #b1b0b0 !default;

// Code type list
$code-type-list:
  "language-bash" "Bash",
  "language-c" "C",
  "language-cs" "C#",
  "language-cpp" "C++",
  "language-clojure" "Clojure",
  "language-coffeescript" "CoffeeScript",
  "language-css" "CSS",
  "language-dart" "Dart",
  "language-diff" "Diff",
  "language-erlang" "Erlang",
  "language-go" "Go",
  "language-go-html-template" "Go HTML Template",
  "language-groovy" "Groovy",
  "language-haskell" "Haskell",
  "language-html" "HTML",
  "language-http" "HTTP",
  "language-xml" "XML",
  "language-java" "Java",
  "language-js" "JavaScript",
  "language-javascript" "JavaScript",
  "language-json" "JSON",
  "language-kotlin" "Kotlin",
  "language-latex" "LaTeX",
  "language-less" "Less",
  "language-lisp" "Lisp",
  "language-lua" "Lua",
  "language-makefile" "Makefile",
  "language-markdown" "Markdown",
  "language-matlab" "Matlab",
  "language-objectivec" "Objective-C",
  "language-php" "PHP",
  "language-perl" "Perl",
  "language-powershell" "PowerShell",
  "language-posh" "PowerShell",
  "language-pwsh" "PowerShell",
  "language-python" "Python",
  "language-r" "R",
  "language-ruby" "Ruby",
  "language-rust" "Rust",
  "language-scala" "Scala",
  "language-scss" "Scss",
  "language-shell" "Shell",
  "language-sql" "SQL",
  "language-swift" "Swift",
  "language-tex" "TeX",
  "language-toml" "TOML",
  "language-ts" "TypeScript",
  "language-typescript" "TypeScript",
  "language-vue" "Vue",
  "language-yml" "YAML",
  "language-yaml" "YAML",
  !default;


// ========== Admonition ========== //
// Color list of admonition [$type $color $background-color, ... ]
$admonition-color-list:
  "note" #448aff rgba(68, 138, 255, 0.1),
  "abstract" #00b0ff rgba(0, 176, 255, 0.1),
  "info" #00b8d4 rgba(83, 211, 230, 0.1),
  "tip" #00bfa5 rgba(0, 191, 165, 0.1),
  "success" #00c853 rgba(0, 200, 83, 0.1),
  "question" #64dd17 rgba(100, 221, 23, 0.1),
  "warning" #ff9100 rgba(255, 145, 0, 0.1),
  "failure" #ff5252 rgba(255, 82, 82, 0.1),
  "danger" #ff1744 rgba(68, 138, 255, 0.1),
  "bug" #f50057 rgba(255, 23, 68, 0.1),
  "example" #651fff rgba(101, 31, 255, 0.1),
  "quote" #9e9e9e rgba(159, 159, 159, 0.1),
  !default;
// ========== Admonition ========== //
