.section {
    
    .single-title
    {
      font-size: 1.25rem;
      line-height: 140%;
    }

    .single {
        .single-title {
          margin: 2rem 0 .5rem;
          font-size: 1.2rem;
          font-weight: bold;
          line-height: 140%;
        }
    }
}
