.summary {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
  padding-bottom: .4rem;
  margin-top: 0.5rem;
  margin-bottom: 0.4rem;
  align-items: center;

  color: #ccc;
  /*color: $global-font-color;*/

  border: solid;
  border-radius: 10px;
  
  @include transition(transform 0.4s ease);
  &:hover {
    @include transform(scale(1.01));
  }

  [theme=dark] & {
    color: $global-font-color-dark;
  }

  .summary-text {
    margin-left: 0.6rem;
    margin-right: 0.6rem
  }

  .featured-image-preview {
    height: 165px;

    padding-left: 0.6rem;
    display: flex;
    justify-content: center;
    @include transition(transform 0.4s ease);

    a {
      display: block;
      height: 100%;
    }

    img {
      height: 100%;

      &.lazyloaded {
        @include object-fit(cover);
      }
    }

    &:hover {
      @include transform(scale(1.02));
    }
  }

  .single-title {
    font-size: 1.25rem;
    line-height: 140%;
    margin: 0.4rem 0 !important;
  }

  .content {
    @include box(vertical);
    -webkit-line-clamp: 3;
    margin-top: .3rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    @include overflow-wrap(break-word);
    color: $global-font-secondary-color;

    [theme=dark] & {
      color: $global-font-secondary-color-dark;
    }

    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      font-size: 1rem;
      line-height: 1.5;
      display: inline;

      &::after {
        content: "\A";
        white-space: pre;
      }
    }

    h2 {
      font-size: 1.125rem;
    }

    @include link(false, true);

    b, strong {
      color: $global-font-secondary-color;

      [theme=dark] & {
        color: $global-font-secondary-color-dark;
      }
    }
  }

  .post-footer {
    margin-top: .4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .875rem;

    @include link(false, false);

    .post-tags {
      padding: 0;

      @include link(true, true);
    }
  }
}
