footer {
  height: 2rem;
  width: 100%;
  text-align: center;
  line-height: 1.25rem;
  padding: 1rem 0;
  background-color: $header-background-color;

  [theme=dark] & { 
    background-color: $header-background-color-dark;
  }

  .footer-container {
    font-size: .875rem;

    .footer-line {
      margin: auto;
      width: 60%;

      .icp-br {
        display: none;
      }
    }
  }

  @include blur;
}
