{{- define "content" -}}
    {{- $params := .Scratch.Get "params" -}}
    {{- $profile := .Site.Params.home.profile -}}
    {{- $posts := .Site.Params.home.posts -}}
    <div style="display: flex; flex-direction: column; width: auto; align-items: center;">
    <div class="gradient" style="display: flex; flex-direction: row; width:100%; background: linear-gradient(#f8f8f8, #BA75BD); position:relative">
            <img src="/images/left_banner.svg" alt="left banner art " style="order:0; max-width: 20%; object-fit:fill; align-self:flex-start; padding-top: var(--header-height)" />
            <img src="/images/left_banner.svg" alt="right banner art" style="order:2; max-width: 20%; object-fit:fill; align-self:flex-start; padding-top: var(--header-height)" />
            {{- /* 
            {{ readFile "/images/left_banner.svg" | safeHTML }}
            */ -}}
            
            {{- /* 
            {{- dict "Src" "/images/left_banner.svg" | partial "plugin/img.html" -}}
            */ -}}
        
        <div style="" class="page home"{{ if ne $posts.enable false }} data-home="posts"{{ end }}>
            {{- partial "home/profile.html" . -}}
                <!--
                {{- /* Content */ -}}
                {{- if .Content -}}
                <div class="single">
                    <div class="content" id="content">
                        {{- dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
                    </div>
                </div>
                {{- end -}}
                -->
            <div style="font-size: 1.25rem; margin-top: 1rem;">Check our upcoming events out: </div>
            <div style="padding: 0rem 0rem 4rem;">
                {{- if ne $posts.enable false | and .Site.RegularPages -}}
                {{- /* Paginate */ -}}
                {{- $pages := where .Site.RegularPages "Type" "in" (slice "posts" "events") -}}
                {{- $pages = where $pages "Params.dateOn" "gt" now -}}
                
                {{- if .Site.Params.page.hiddenFromHomePage -}}
                {{- $pages = where $pages "Params.hiddenfromhomepage" false -}}
                {{- else -}}
                {{- $pages = where $pages "Params.hiddenfromhomepage" "!=" true -}}
                {{- end -}}
                {{- with $posts.paginate | default .Site.Params.paginate -}}
                {{- $pages = $.Paginate $pages . -}}
                {{- else -}}
                {{- $pages = .Paginate $pages 5 -}}
                {{- end -}}
                
                {{- range ($pages.Pages.ByParam "dateOn") -}}
                {{- .Render "summary" -}}
                {{- end -}}
                {{- end -}}
                {{- partial "paginator.html" . -}}
            </div>
        </div>
    </div>
    <b style="margin: 0 auto">and now a word from our sponsors</b>
    </div>
{{- end -}}
